<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../assets/CSS/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body class="w-full h-[800px] font-['Poppins', 'san-serif'] p-10 mt-20">
  <div class="w-[80%] ml-[10%] flex justify-between">
    <input type="date" name="" id="" placeholder="23/02/2023"
      class="border-[2px] p-3 w-[300px] rounded-md timein">
    <input type="date" name="" id="" placeholder="23/02/2023"
      class="border-[2px] p-3 w-[300px] rounded-md timeout">
    <select name="" id="" class="w-[100px] border-[2px] rounded-md text-black p-3 select-list">
      <option value="" selected>All</option>
      <option value="">Paid</option>
      <option value="">Not paid</option>
    </select>
    <div class="rounded-md py-2 px-6 bg-[#2B3467] text-white text-xl cursor-pointer hover:bg-[#2b3467cc] duration-300 search-ticket_btn">Search</div>
  </div>
  <div class="inform text-[24px] pl-[450px] mt-[20px]"></div>
  <div class="w-[80%] ml-[10%] mt-[50px] text-lg">
    <table class="w-full table-auto border-collapse border border-black border-opacity-20 text-center bg-[#bad7e933]">
      <thead class="h-[80px]">
        <tr>
          <th class="border border-black">STT</th>
          <th class="border border-black">License plate</th>
          <th class="border border-black">Time in</th>
          <th class="border border-black">Time out</th>
          <th class="border border-black">Total</th>
          <th class="border border-black">Status</th>
        </tr>
      </thead>
      <tbody class="ticket-list">
        <!-- <tr  class="h-[80px]">
            <td class="border border-black">1</td>
            <td class="border border-black">43A12345</td>
            <td class="border border-black">03/03/2023 12:00 AM</td>
            <td class="border border-black">03/03/2023 12:30 AM</td>
            <td class="border border-black">30.000</td>
            <td class="border border-black"><input type="checkbox" name="" id="" checked></td>
          </tr>
          <tr  class="h-[80px]">
            <td class="border border-black">2</td>
            <td class="border border-black">43A12345</td>
            <td class="border border-black">03/03/2023 12:00 AM</td>
            <td class="border border-black"></td>
            <td class="border border-black"></td>
            <td class="border border-black"><input type="checkbox" name="" id=""></td>
          </tr>
          <tr  class="h-[80px]">
            <td class="border border-black">3</td>
            <td class="border border-black">43A12345</td>
            <td class="border border-black">03/03/2023 12:00 AM</td>
            <td class="border border-black">03/03/2023 12:30 AM</td>
            <td class="border border-black">30.000</td>
            <td class="border border-black"><input type="checkbox" name="" id="" checked></td>
          </tr> -->
      </tbody>
    </table>
  </div>
  <div class="w-[80%] ml-[10%] flex justify-center mt-[30px]">
    <div id="prev_link" class="text-[#ccc] float-left py-2 px-4 duration-300 border border-[#ddd] mx-1 cursor-pointer">
      &laquo;</div>
    <div class="number-page">
      <!-- <div class="text-black float-left py-2 px-4 duration-300 border border-[#ddd] mx-1">1</div>
        <div class="text-black float-left py-2 px-4 duration-300 border border-[#ddd] mx-1">2</div>
        <div class="text-black float-left py-2 px-4 duration-300 border border-[#ddd] mx-1">3</div>
        <div class="text-black float-left py-2 px-4 duration-300 border border-[#ddd] mx-1">4</div>
        <div class="text-black float-left py-2 px-4 duration-300 border border-[#ddd] mx-1">5</div>
        <div class="text-black float-left py-2 px-4 duration-300 border border-[#ddd] mx-1">6</div> -->
    </div>
    <div id="next_link" class=" float-left py-2 px-4 duration-300 border border-[#ddd] mx-1 cursor-pointer">&raquo;
    </div>
  </div>

  <script src="../JS/Tickets/renderDataTickets.js" type="module"></script>
  <script src="../JS/Tickets/searchTicketList.js" type="module"></script>

</body>

</html>