<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/CSS/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="relative w-full h-screen font-['Poppins', 'san-serif'] overflow-y-hidden">
    <a href="./unSign.html" class="text-xl text-[#2B3467] absolute top-[30px] left-[50px] z-10"><i class="fa-solid fa-house mr-2"></i> Home Page</a>
    <div class="w-full flex justify-between h-full">
        <div class="w-[70%] flex justify-center items-center form-container duration-300 relative" style="background: rgb(127,182,224);
        background: linear-gradient(180deg, rgba(127,182,224,1) 0%, rgba(190,220,241,1) 0%, rgba(255,255,255,1) 92%);">
            <div class="flex flex-col items-center justify-center">
                <div class="text-[#2B3467] text-4xl font-bold mb-[50px] form-heading">LOGIN TO YOUR ACCOUNT</div>
                <form action="" class="flex flex-col gap-5 items-center p-[30px] rounded-md">
                    <div class="flex flex-col">
                        <input type="text" name="" id="name" placeholder="Name" class="w-[360px] bg-[#fff] bo text-[18px] rounded-sm leading-10 pl-3 hidden">
                        <span class="errName text-[red] self-end hidden"></span>
                    </div>
                    <div class="flex flex-col">
                        <input type="email" name="" id="email" placeholder="Email" class="w-[360px] bg-[#fff] bo text-[18px] rounded-sm leading-10 pl-3">
                        <span class="errEmail text-[red] self-end"></span>
                    </div>
                    <div class="flex flex-col">
                        <input type="text" name="" id="license" placeholder="License plate" class="w-[360px] bg-[#fff] bo text-[18px] rounded-sm leading-10 pl-3 hidden">
                        <span class="errLicense text-[red] self-end hidden"></span>
                    </div>
                    <div class="flex flex-col">
                        <input type="password" name="" id="password" placeholder="Password" class="w-[360px] bg-[#fff] bo text-[18px] rounded-sm leading-10 pl-3">
                        <span class="errPassword text-[red] self-end"></span>
                    </div>
                    <input type="submit" value="Sign In" class="w-[360px] bg-[#2B3467] text-white px-[10px] text-[18px] rounded-lg leading-10 mt-4 hover:bg-[#2b3467cc] cursor-pointer duration-300 signIn">
                </form>
            </div>
        </div>
        <div class="w-[30%] h-full pt-[180px] bg-no-repeat bg-cover flex flex-col items-center switch-container duration-300" style="background-image: url(../../assets/Image/bg_pbl5.png);">
            <div class="text-[#2B3467] text-4xl font-bold mt-3 mb-[10px] introduce-heading">NEW HERE?</div>
            <div class="w-[300px] bg-transparent border-[3px] border-white text-white text-center px-[10px] text-xl rounded-lg leading-10 mt-[200px] hover:bg-[#2B3467] hover:border-none cursor-pointer duration-300 switch">Sign Up</div>
        </div>
    </div>
</body>
<script src="../JS/UI/switchForm.js"></script>
<script src="../JS/Account/signInUp.js" type="module"></script>
</html>